/* *{
    box-sizing: border-box;
} */
body{ margin:0; } 
header{}
header div:first-child{padding: 4%; background: blue; width:42%; float: left;}
header div:nth-child(2){padding: 4%; background: green; width:42%; float: left;} 
.clear { clear: both;}

nav{background: red}
nav ul{margin: 0px; padding: 0;}
nav ul li{
    list-style: none; float: left; margin: 0.5%;  background: yellow; width:24%;
       }
nav ul li:hover {background: lightgreen;}
nav ul li a{text-decoration: none; display: block; height: 100%; width: 100%; padding:1%}


section{}
section div:first-child{ background: blue; width: 34%; float: left;} 
section div:nth-child(3){background-color: rgb(172, 25, 25); width:33%; float: left;}
section div:nth-child(2){ background: green;width:33%; float: left;}

footer{}
 footer {padding: 4%; background: yellow; margin-top: 0.5%; width: 92%;}

